{% extends 'base.html' %}
{% load static %}
{% load app_tags %}


{% block customCss %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
{% endblock customCss %}

{% block header %}
<div class="jumbotron">
    <h1 class="display-4">日記</h1>
    <p class="lead">日記を書いて日々の成長を記録しようね！</p>
    <hr class="my-4">
    <a class="btn btn-primary" href="{% url 'create' %}" role="button">新規作成</a>
    <a class="btn btn-primary" href="{% url 'account_logout' %}">ログアウト</a>
</div>
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
    {% for item in latest %}
    {% if item.submitter == user %}
        <div class="alert alert-info col-md-3 diary" role="alert">
            <a class="text-center" href="{% url 'detail' item.pk %}">{{ item.date.year }}年{{ item.date.month }}月{{ item.date.day }}日</a>
            <p class="content text-center">{{ item.event | truncatechars:100 }}</p>
            <nav class="nav">
                <a class="btn btn-primary" href="{% url 'update' item.pk %}">編集</a>
                <a class="btn btn-primary" href="{% url 'delete' item.pk %}">削除</a>
            </nav>
        </div>
    {% endif %}
    {% endfor %}
</div>
</div>
{% endblock content %}

{% block footer %}



{% endblock footer %}